body {
    margin: 0;
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 4em;
}

.logo {
    font-size: 1.5em;
    font-family: "Antonio", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 16px;
}

.intro {
    font-size: 2em;
    margin: 20px 0;
    font-family: 'Playfair Display', serif;
    text-align: left;
}

.container {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #373739;
    color: white;
    text-align: center;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header .logo {
    margin: 0;
    padding: 16px 0;
}

.footer {
    background-color: #373739;
    color: white;
    text-align: center;
    height: 264px;
    width: 100%;
}

.image-container {
    background-color: blue;
    height: 650px;
    margin-top: 120px; /* Add margin to avoid content being hidden under fixed header */
    width: 5%;
    background-size: cover;
    background-position: center;
}

.content, .graph-title, .graph-intro, .graph {
    text-align: center;
    margin: 4px 0;
}

.firma {
    font-size: 1em;
    margin: 4px 0;
    font-family: 'Roboto Condensed', 700;
    text-align: left;
}

.twitter {
    font-size: .8em;
    margin: 4px 0;
    font-family: 'Roboto Condensed', 700;
    text-align: left;
    color: grey;
}

.texto {
    font-size: 1.2em;
    margin: 4px 0;
    font-family: 'Playfair Display', serif;
    text-align: left;
}

.h3 .graph-title {
    font-size: 1.2em;
    font-family: 'Roboto Condensed', 800;
    text-align: left;
}

/* Desktop styles */
@media (min-width: 1025px) {
    .container {
        width: 1440px;
    }
    .col-12 { width: 100%; }
    .col-10 { width: calc(10 * 90px + 9 * 20px); }
    .col-8 { width: calc(8 * 90px + 7 * 20px); }
    .col-6 { width: calc(6 * 90px + 5 * 20px); }
    .col-4 { width: calc(4 * 90px + 3 * 20px); }
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 780px;
    }
    .col-12 { width: 100%; }
    .col-10 { width: calc(10 * 100px + 9 * 20px); }
    .col-8 { width: calc(8 * 100px + 7 * 20px); }
    .col-6 { width: calc(6 * 100px + 5 * 20px); }
    .col-4 { width: calc(4 * 100px + 3 * 20px); }
}

/* Mobile styles */
@media (max-width: 600px) {
    .container {
        width: 320px;
    }
    .col-12 { width: 100%; }
    .col-10 { width: calc(2 * 140px + 1 * 20px); }
    .col-8 { width: 100%; }
    .col-6 { width: 100%; }
    .col-4 { width: 100%; }
}